{% load static %}

{% block body %}


{% include 'recruiter_navigation.html' %}
<style>
      .btn:hover{
        background:#4DD0E1;
        color:white;
    }
</style>

<div class="row ">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 border border-1 mt-4 mx-4 mb-4 py-3 pb-3 p-5 pb-5 pt-5  rounded shadow-lg">
        <div class="fs-2 text-center "><b> Add</b><B style="color:#4DD0E1;"> Job <i
                class="fa-brands fa-usps"></i> </B></div>

        <form onsubmit="return checkpass();" method="post" name="signup" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row mt-4">
                <div class="col-sm-6">
                    <label class="form-label" for="firstName">Job Title</label>
                    <input type="text" id="firstName" name="jobtitle"
                           class="form-control form-control-lg" required/>

                </div>
                <div class="col-sm-6">
                    <label class="form-label">Start Date</label>
                    <input type="date" name="startdate" class="form-control form-control-lg"
                           required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="form-label">End Date</label>
                    <input type="date" name="enddate" class="form-control  form-control-lg"
                           required/>

                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="form-label">Salary(Per Month) </label>
                        <input type="text" name="salary" class="form-control  form-control-lg"
                               required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="form-label">Company Logo</label>
                    <input type="file" name="logo" class="form-control form-control-lg"
                           required/>

                </div>
                <div class="col-sm-6">

                    <label class="form-label">Experience (In Years)</label>
                    <input type="text" name="experience"
                           class="form-control form-control-lg" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label class="form-label">Location</label>
                    <input type="text" name="location"
                           class="form-control form-control-lg" required/>

                </div>
                <div class="col-sm-6">

                    <label class="form-label">Skills</label>
                    <input type="text" name="skills"
                           class="form-control form-control-lg" required/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label class="form-label">Description</label>
                    <input type="text" name="description"
                           class="form-control form-control-lg" required/>

                </div>
                <div class="row">
                    <div class="col-sm-12 mt-4 mb-0 ">
                        <input type="submit" class="btn text-dark border border-1 border-dark w-100 ms-2" name="submit"
                               value="Add Now"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-sm-2"></div>

{% include 'footer.html' %}
{% ifequal error "no" %}
<script>
    alert("Job Post submited Successfully");
    window.location=('{% url 'job_list' %}')


</script>
{% endifequal %}

{% ifequal error "yes" %}

<script>
    alert("Sumthing Went Wrong try again!");


</script>

{% endifequal %}

{% endblock %}