<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>job portal</title>
    <link href="{% static 'css/bootstrap.css'%}" rel="stylesheet"/>
    <link href="{% static 'css/all.css'%}" rel="stylesheet"/>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="{% static 'js/bootstrap.bundle.js'%}"></script>
  <style>

.nav-link{
    color:white #F48FB1;
    margin-right :5px;
    border-radius:15px;

 }
 .nav-link:hover{
    margin-weight :bold;
    background-color:white;
    border-radius:10px;

 }
 .navbar-brand:hover{
    color:yellow !important;

 }
 .ocolor{
        backgound-color:#fdcc0d;
 }
  </style>


</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-3 mt-3">
            <img src="{% static 'images/logo2.jpg' %}" width="110px" height="85px" class="mb-3">
        </div>
        <div class="col-sm-6 mt-3 text-center ">
            <div class="fs-2 text-center text-danger"><b>Online Job</b><b style="color:#4DD0E1;"> Portal<i class="fa-brands fa-servicestack text-success"></i></i></b></div>
        </div>
        <div class="col-sm-3 mt-3" style="padding-left:10%;">
          <span style="font-weight: bold; font-size:20px;">
        <span><i class="fa-brands fa-twitter px-2"></i></span>
        <i class="fa-brands fa-linkedin px-2"></i>
        <span><i class="fa-brands fa-instagram px-2"></i></span>
        <span><i class="fa-brands fa-telegram px-2"></i></span>
        </span>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg sticky-top shadow" id="menu" style="background-color:#4DD0E1">
    <a class="navbar-brand text-white ps-5 font-weight-bold"
       style="font-family:'Monotype corsiva'; font-size:15 px;">Job Portal</a>
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-family:times-roman; font-size:16px;">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'recruiter_home'%}" style="margin-left:300px;"><i class="fa-solid fa-home"></i> Home</a>
            </li>


            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 <i class="fa-solid fa-sign-in"></i> Jobs
                </a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="{% url 'add_job' %}"><i class="fa-solid fa-plus-circle"></i> Add Job</a></li>
                    <li><a class="nav-link" href="{% url 'job_list' %}"><i class="fa-solid fa-list-ol mr-1"></i> Job List</a></li>
                </ul>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'applied_jobs' %}"><i class="fa-solid fa-list-ol mr-1"></i> User Applied</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'change_passwordrecruiter'%}"><i class="fa-solid fa-user-plus"></i> Change Password</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="{% url 'Logout' %}"><i class="fa-solid fa-sign-out"></i> Logout</a>
         </li>
             <a class="navbar-brand text-white ps-5 font-weight-bold"
       style="font-family:'Monotype corsiva'; font-size:25px;">{{request.user.first_name}} {{request.user.last_name}}</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
</body>
</html>