{% extends 'base.html'%}
{% block content %}
{%  load static %}
<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script>
   $(document).ready(function()
   {
   $("#btne").click(function(){
   $(".uform").slideToggle(500)
   })
   })
</script>

{% if not request.session.userid %}
<script>
    alert('you have to login first..')
    location.href="/user/signin/"
</script>

{% endif %}
<div class="fs-2 text-center pt-4">My<B class="text-ocolor"> Profile <i class="fa-solid fa-address-card"></i></B></div>
<div class="row ">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 ">
            <!-----start card------->
            {% for x in mdata %}
            <div class="card mb-3 w-100 " style="background:#f4e2de;">
  <div class="row g-0 brad">
    <div class="col-md-4 p-3" >
      <img src="/{{x.ppic}}" style="min-height:300px;" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8 ">
      <div class="card-body ">
          <h5 class="card-title"> <b>{{x.name}}</b></h5>
        <p class="card-text">
            <b>Mobile : </b>{{x.mobile}}<br>
            <b>Email: </b>{{x.email}}<br>
            <b>Password: </b>{{x.passwd}}<br>
            <b>Address : </b>{{x.address}}<br>
            <input type="submit" value="Edit Profile" id="btne" class="float-end btn1">
        </p>
      </div>
    </div>
  </div>
</div>
            {% endfor %}
            <!-----end card------->

    </div>
    <div class="col-sm-3"></div>
</div>


<!------------form----------->
<!----style of form---->
    <style>
    .divb{
    background:url("{% static 'images/womens.jpg' %}");
        background-size:100% 100%;
        background-attachment:fixed;
    }
    .uform{
    display:none;
    }
</style>
<!----style end of form---->

<div class="row ">
    <div class="col-sm-12 ">
       <!-- <img src="{% static 'images/img4.jpg'%}"/> -->
        <form method="POST" enctype="multipart/form-data" >
            {% csrf_token %}
        <div class="row mx-4 my-5"  >
            <div class="col-sm-3 "></div>

            <div class="col-sm-6 uform px-5 py-2 border border-1 border-dark" style="background:#f5e3df; border-radius:10px;">
                 {% if m %}
                <div class="alert alert-success">Account Created Successfully..</div>
                {% endif %}
                <b><label class="mb-0 ">Your Full Name :</label></b>
                <div class="input-group">
                    <i class="input-group-text"><i class="fa-solid fa-user"></i></i>
                <input type="text" name="name" class="form-control" placeholder="Enter Your Full name.." required title="Enter your name (Only valid name acceptable.)"/>
                </div>
                <b><label class="mb-0">Mobile No :</label></b>
                <div class="input-group">
                    <i class="input-group-text"><i class="fa-solid fa-phone"></i></i>
                    <input type="number" name="mob" class="form-control" placeholder="Enter Mobile No." required title="Enter your mobile no (Only valid number acceptable.)"/>
                </div>
                <b><label class="mb-0 ">Enter Your Password :</label></b>
                <div class="input-group">
                    <i class="input-group-text"><i class="fa-solid fa-lock"></i></i>
                    <input type="password" name="passwd" class="form-control" placeholder="Enter your password.." required title="Enter your password (Only valid password acceptable.)"/>
                </div>
                    <b><label class="mb-0 ">Upload Your Picture:</label></b>
                <input type="file" name="ppic" class="form-control"  required />
                <b><label class="mb-0 ">Address:</label></b><br>
                <textarea required name="address" class="w-100"></textarea><br>
                <input type="checkbox" required > I agree all statements in Terms of service <br><br>
                <input type="submit"  value="Edit Profile" class="btn btn-warning w-100"/>
                <p class="text-center">Have already an account ?<a href="/user/signin/">Login here</a></p></div>
            <div class="col-sm-3 "></div>
        </div>
            </form>
    </div>
</div>


<!--------end----form----------->
{% endblock %}