{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="row" style="background:#f4e3e0;">
    <div class="col-sm-8">
        <div class="fs-2 text-center" style="background:#f4e3e0;">Women's <B class="text-ocolor">Product
    <i class="fa-solid fa-cart-shopping"></i>
</B></div>
        <div class="row" style="background:#f4e3e0;">

    <!---start product----->
        {% for a in data %}
    <div class="col-sm-3 my-2 " >
        <div class="card bg-light" style="box-shadow: 5px 0px 10px #888888;">
            <img src="/{{a.ppic}}"class="img-card-top"/>
            <div class="card-body">
                <h5 class="card-title">{{a.pcategory}}</h5>
                <hr class="divider"/>
                <b class="btn btn-sm bg-ocolor"><i class="fa-solid fa-indian-rupee-sign"></i></b>
                <b class="text-danger "><s>{{a.pprice}}/-</s></b>
                <b class="text-success">{{a.dprice}}/-</b><br><span class="text-muted"><i class="fa-solid fa-calendar-days"></i>:{{a.pdate}}</span>

                <div class="float-end" style="height:20px; width:20px; background:{{a.pcolor}}; border-radius:3px;"></div> <b class="btn btn-sm bg-ocolor">{{a.psize}}</b>                <hr class="divider">
                <span class="text-muted">{{a.pdel}}</span><br>
                <a href="/user/viewproduct?msg={{a.id}}" class="btn btn-sm bg-ocolor">Order Now</a>
                <a href="#" class="btn btn-sm bg-ocolor">Cart <i class="fa-solid fa-cart-arrow-down"></i></a><br>


            </div>
        </div>
    </div>
    {% endfor %}
    <!---end product----->
            </div>

    </div>
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item  fs-4 fw-bold bg-bcolor text-light text-center">Product Category</li>

            {% for x in cats %}
            <li class="list-group-item">

            <!----------start card--->
                <div class="card  w-100" >
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/{{x.CPic}}" style="max-height:70px;" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <a href="/user/womens?msg={{x.id}}"class="text-dark" style="text-decoration:none;"><h5 class="card-title">{{x.Name}}</h5></a>
      </div>
    </div>
  </div>
</div>
            <!----------end card--->

            </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}